.HeaderContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  gap: 200px;
  flex: 1 1 0%
}

.HeaderContainer > img {
  width: 150px;
  height: 120px;
}
.HeaderContainer > p{
  cursor: pointer;
  text-transform: uppercase
  
}
.textLink{
  text-decoration: none;
  color: black;
  
}
.textLink:hover{
  color: red;
}
.header{
  display: flex;
  justify-content: space-between;
}
.logoRight{
 width: 100px;
 display: flex;
 align-items: center;
}

