footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
  justify-content: center;
  }
  
  .midFooter {
    width: 60%;
    text-align: center;
  }
  
  .midFooter > h1 {
    font-size: 100px;
    font-family: "Time new roman";
    color: #eb4034;
  }
  .midFooter > p {
    max-width: 60%;
    font-family: "Time new roman";
    margin: 10px auto;
  }
