.searchBox {
    width: 100vw;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  
  .searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border: none;
    color: rgba(0, 0, 0, 0.637);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    font: 300 1.1vmax cursive;
    box-sizing: border-box;
    height: 55px;
  }
  
  .searchBox > input[type="submit"] {
    height: 55px;
    border-radius: 0%;
    background-color: black;
    border: none;
    padding: 1vmax;
    width: 10%;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;
  }
  

  
